@page
@model MyApp.Namespace.TableModel
@{
}

<link rel="stylesheet" href="/css/table.css">
<script src="/js/table.js"></script>

<div class="container-fluid d-flex justify-content-begin card-container">
    
    <div id="card-slot-1a" class="bg-warning card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-2a" class="bg-danger card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-3a" class="bg-warning card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-4a" class="bg-danger card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-5a" class="bg-warning card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
</div>

<div class="player-info">
    <img src="/img/back.png" alt="back" class="player-info-img">
</div>

<div class="container-fluid d-flex justify-content-end card-container-end">
    
    <div id="card-slot-1b" class="bg-warning card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-2b" class="bg-danger card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-3b" class="bg-warning card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-4b" class="bg-danger card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
    <div id="card-slot-5b" class="bg-warning card-slot">
        <div id="card" name="card" class="card">
            <img src="img/front.png" id="card-img" alt="background" class="card-image">
            <h6 class="card-title ">Texto de ejemplo</h6>
            <img src="/img/card_0.png" alt="pollo" class="card-picture">
            <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-begin table">
    <div id="table-slot-1a" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-2a" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-3a" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-4a" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-5a" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
</div>

<div class="container-fluid d-flex justify-content-end table-end">
    <div id="table-slot-1b" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-2b" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-3b" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-4b" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
    <div id="table-slot-5b" class="table-slot">
        <img src="/img/empty-frame.png" alt="frame" class="table-slot-img">
    </div>
</div>

<div class="player-info-end">
    <img src="/img/back.png" alt="back" class="player-info-img">
</div>
<!-- <div id="card" name="card" class="card">
    <img src="img/front.png" id="card-img" alt="background" class="card-image">
    <h6 class="card-title ">Texto de ejemplo</h6>
    <img src="/img/card_0.png" alt="pollo" class="card-picture">
    <p class="card-description">Lorem ipsum dolor sit amet, foo bar baz, just dummy text here, nothing really matters</p>
</div> -->