@page "/table/{match-type}"
@model MyApp.Namespace.TableModel
@{
    ViewData["Title"] = "Play!";

    bool enemyIsHuman = ((string?) ViewContext.RouteData.Values["match-type"] == "human");
}

<input type="hidden" name="match-type" id="match-type" value=@(ViewContext.RouteData.Values["match-type"])>

<link rel="stylesheet" href="/css/table.css">
<script src="/js/table.js"></script>

<div class="container-fluid d-flex justify-content-begin card-container">
    @for (int i = 1; i <= 5; i++)
    {
        <div id="card-slot-@(i)b" class="card-slot"><!--Card here--></div>
    }
</div>

<div class="container-fluid d-flex justify-content-begin card-container-end">
     @for (int i = 1; i <= 5; i++)
    {
        <div id="card-slot-@(i)a" class="card-slot"><!--Card here--></div>
    }
</div>

<div class="container-fluid d-flex justify-content-begin table">
     @for (int i = 1; i <= 5; i++)
    {
        <div id="table-slot-@(i)b" class="table-slot"></div>
    }
</div>

<div class="container-fluid d-flex justify-content-begin table-end">
    @for (int i = 1; i <= 5; i++)
    {
        <div id="table-slot-@(i)a" class="table-slot"></div>
    }
</div>

<div class="card-info" id="card-info">
    <div id="image" class="d-flex justify-content-center mt-2">
        <img src="/img/back.png" alt="back" class="player-info-img">
    </div>
    <p id="info" class="px-2 py-2 info-text text-center"></p>
    <div id="powers"></div>
    <div id="drop-btn-container" class="d-flex justify-content-center"></div>
    <div id="movement-log" class="container" style="position: absolute;bottom: .6em;"></div>
</div>

<div class="modal fade" id="end-game-modal">
    <div class="modal-dialog ">
        <div class="modal-content back-fade">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center text-warning">Do you wanna leave?</h4>
                <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="d-flex justify-content-center" data-bs-dismiss="modal">
                    <h2 class="card-option-btn">No</h2>
                </div>
                <a href="/">
                    <div class="d-flex justify-content-center" >
                        <h2 class="card-option-btn bg-warning">Yes</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>